.login__background {
    background-image: url('/src/images/Welcome.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center; 
    align-items: center;
    align-content: center;
    flex-direction: column;
    transform: scale(1.05);
    transition: transform 1s ease;
    min-height: 100vh;
}

.login__background.active{
    transform: scale(1); 
}

.login__container{
    /* background-color: rgb(255, 255, 255, 0.3); */
    background-color: white;
    width: 50%;
    padding: 24px;
    border-radius: 16px;
    border: solid 5px rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    box-shadow: 0px 0px 30px 20px rgb(0, 0, 0, 0.1);
    transform: translateY(-20px);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; 
    opacity: 0;
    transition: opacity 1s ease;
}

.login__container.active {
    opacity: 1;
}

.login__title{
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.login__title h1 {
    padding: relative;
    font-weight: 500;
    z-index: 10;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #0066ff, #0033cc);
    text-shadow:
    /* 0 0 5px #fff,
    0 0 1px #fff, */
    0 0 1px #0066ff,
    0 0 5px #0066ff,
    0 0 50px #0033cc,
    0 0 50px #0033cc;
}

/* .TAB__element {
    top: 2%;
    left: 50%;
    width: 20%; 
    height: 20%;
    background: linear-gradient(to right, #60a5fa, #0033cc); 
    filter: blur(20px); 
    opacity: 1;
    z-index: -1; 
    border-radius: 50%;
    margin: 0 auto;
} */

/* .tab__element::before {
    content: "";
    position: absolute;
    width: 15%; 
    height: 10%; 
    background: linear-gradient(to right, #60a5fa, #0033cc); 
    filter: blur(20px); 
    opacity: 1;
    border-radius: 50%; 
    z-index: -1; 
    animation: glow-pulse 2s infinite ease-in-out;
} */

.login__input{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.email__box,
.password__box{
    display: flex;
}

.login__input input{
    width: 100%;
    padding: 10px 16px 10px 38px;
    border-radius: 99px;
    border: solid 3px transparent;
    border-color: black;
    background: rgb(255, 255, 255, 0.1);
    outline: none;
    caret-color: black;
    color: black;
    font-weight: 500;
    transition: 0.25s;
}

.login__input input:focus{
    border: solid 3px rgb(255, 255, 255, 0.25);
}

.login__input input::placeholder{
    color: rgb(0, 0, 0, 0.75);
}

.login__input::-ms-reveal{
    filter: invert(100%);
}

.login__input i {
    position: absolute;
    transform: translateY(85%);
    left: 14px;
    font-size: 18px;
    transition: 0.25s;
}

.login__input input:focus + i {
    color: white;
}

.login__title h1 {
    margin-left: 10px;    
}

.remember-forgot__box{
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: space-between;
    gap: 50px;
}

.remember-me{
    display: flex;
    gap: 8px;
    align-items: center;
}

.forgot-password:hover{
    text-decoration: underline;
}

.remember-me input[type="checkbox"] {
    margin-top: 2px;
}

.login__btn{
    width: 100%;
    margin-top: 24px;
    padding: 10px;
    background: #3b82f6;
    border: none;
    border-radius: 99px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    outline: transparent 3px solid;
    transition: 0.1s;
}

.login__btn:hover {
    background: linear-gradient(to right, #0052cc, #002080);
}

.register__link{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.create__link:hover{
    text-decoration: underline;
}