.register__background {
    background-image: url('/src/images/honolulu.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center; 
    align-items: center;
    align-content: center;
    flex-direction: column;
    transform: scale(1.05);
    transition: transform 1s ease;
    min-height: 100vh;
}

.register__background.active {
    transform: scale(1); 
}

.register__container {
    background-color: white; 
    width: 50%;
    padding: 24px;
    border-radius: 16px;
    border: solid 5px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-20px);
    color: black; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; 
    opacity: 0; 
    transition: opacity 1s ease; 
}

.register__container.active {
    opacity: 1; 
}

.register__title {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.register__title h2 {   /* For glowing effect */
    padding: relative;
    font-weight: 500;
    z-index: 10;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #0066ff, #0033cc);
    text-shadow: 
        0 0 1px #0066ff,
        0 0 5px #0066ff,
        0 0 50px #0033cc,
        0 0 50px #0033cc;
}

.register__input {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.name__box,
.email__box,
.phone__box,
.password__box,
.confirm-password__box {
    display: flex;
}

.register__input input {
    width: 100%;
    padding: 10px 16px 10px 38px;
    border-radius: 99px;
    border: solid 1px transparent;
    border-color: black; 
    background: rgba(255, 255, 255, 0.1);
    outline: none;
    caret-color: black; 
    color: black; 
    font-weight: 500;
    transition: 0.25s;
}

.register__input input:focus {
    border: solid 3px rgba(255, 255, 255, 0.25);
}

.register__input input::placeholder {
    color: rgba(0, 0, 0, 0.75); 
}

.register__input::-ms-reveal{
    filter: invert(100%);
}

.register__input i {
    position: absolute;
    transform: translateY(85%);
    left: 14px;
    font-size: 18px;
    transition: 0.25s;
}

.register__input input:focus + i {
    color: white;
}

.register__btn {
    width: 100%;
    margin-top: 24px;
    padding: 10px;
    background: #3b82f6;
    border: none;
    border-radius: 99px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    outline: transparent 3px solid;
    transition: 0.1s;
}

.register__btn:hover {
    background: linear-gradient(to right, #0052cc, #002080);
}

.login__link {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.create__link:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .hero_content h1 {
        font-size: 2rem;
    }

    .hero_description {
        font-size: 0.9rem; 
        line-height: 1.5rem; 
    }

    .form_container {
        padding: 10px; 
    }

    .button {
        width: 100%; 
        padding: 12px; 
    }
}

  /* For mobile screens */
  @media (max-width: 480px) {
    .hero__content h1 {
      font-size: 2rem; /* Smaller size for mobile */
    }
    .hero__img-box img, .hero__img-box video {
      height: 200px; /* Further reduce height */
    }
    .hero__content {
      padding-top: 2rem;
    }

    .custom-heading {
        font-size: 1.55rem; 
        font-weight: 730;   
        line-height: 0.95;  
        margin-bottom: 1rem; 
        color: #2d3748;     
    }
    .primary__btn1 {
      font-size: 0.9rem;
      padding: 0.5rem 1rem;
    }
}